.titulo h1{
    display: inline-block;
    padding: 0 70px 0 70px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Chela One', cursive;
}
footer{
    color: white;
    font-size: 60px;
    font-family: 'Chela One', cursive;
    text-align:center;
    margin-top:300px;
}
.a_titulo{
    color: transparent;
}
body{
    background-image: url(sprites/background5.jpg);
    object-fit: cover;
    background-size: cover;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 50px;
}
.welcome{
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Chela One', cursive;
    padding: 50px 0 0 0;
}
.informacaopc{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    padding-top: 50px;
    padding-bottom:50px;
    text-align: center\;
}
.textoinformacaopc{
    color: white;
    font-size: 25px;
    font-family: 'Chela One', cursive;
    
}
.textoinformacaopc li{
    color: white;
    font-size: 25px;
    font-family: 'Chela One', cursive;
    text-align: justify;
}
.informacaopcimg{
    width: 750px;
    height: 750px;
    object-fit: cover;
    border-radius: 25px;
    
}
.pcscrollbar{
    margin: 5px;
    width: 1100px;
    height: 350px;
    border: 2px solid #341C09;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap; 
    overflow: auto ;
    text-align: center;
}
.pcimgscroll{
    /* width: 350px;
    height: 320px;
    object-fit: cover; */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}
.scrollbar {
    margin: 5px;
    width: inherit;
    height: max-content;
    border: 2px solid #341C09;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap; 
    overflow: auto ;
    text-align: center;
  }
.pcscroll{
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}

.item {
    width: 250px;
    height: 250px;
    flex: 0 0 auto;
}
.grid-produtos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    text-align: center;
}
.pc{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
}
.informacao_logo{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 100px;
    
}
.texto_logo{
    color: white;
    font-size: 60px;
    font-family: 'Chela One', cursive;
    text-align:left;
}
.logo_loja{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:25px;
}
.informacao_loja {
    display: grid;
    grid-template-columns: repeat(2, 0.25fr) 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align:center;
    color: white;
    font-size: 60px;
    font-family: 'Chela One', cursive;
    text-align:left;
    text-align: justify;
    }
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }

.img_loja{
    width: 400px;
    height: 400px;
    object-fit:cover;
    border-radius: 25px;
}
.img_localizacao{
    width: 1000px;
    height: 500px;
    object-fit: cover;
}
.localizacao_loja{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
   
}
.texto_localizacao{
    color: white;
    font-size: 60px;
    font-family: 'Chela One', cursive;
    text-align:center;
}
.botao_projetos {
    background-color: #134659;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    font-family: 'Chela One', cursive;
    float: left;
    margin-top: 100px;
  }
