.titulo h1{
    display: inline-block;
    padding: 0 70px 0 70px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Chela One', cursive;
}
.a_titulo{
    color: transparent;
}
body{
    background-image: url(sprites/background5.jpg);
    object-fit: cover;
    background-size: cover;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 50px;
}
.welcome{
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Chela One', cursive;
    padding: 50px 0 0 0;
}
.informacaopc{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    padding-top: 50px;
    padding-bottom:50px;
    text-align: center\;
}
.informacaopc img{
    width: 750px;
    height: 750px;
    object-fit: cover;
    border-radius: 25px;
    
}
.scrollbar {
    margin: 5px;
    width: inherit;
    height: max-content;
    border: 2px solid #341C09;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap; 
    overflow: auto ;
    text-align: center;
    
  }
  .pcscroll{
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
  }

.item {
    width: 250px;
    height: 250px;
    flex: 0 0 auto;
}
.grid-produtos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    text-align: center;
}
.pc{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
}