nav {
  background: black;
}

a {
  color: white;
}

.button a {
  background: teal;
  border: 1px #006d6d solid;
}

.button.secondary {
  border-bottom: 1px #444 solid;
}

.button:not(.secondary) a:hover {
  background: #006d6d;
  border-color: #005959;
}

.button.secondary a:hover {
  color: #ddd;
}

body {
  background-color: black;
  /* Used if the image is unavailable */
}

footer {
  background-color: #005959;
}

/* Basic styling */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

nav {
  padding: 1px 20px 1px 1px;
}

.menu ul {
  list-style-type: none;
}

.menu a {
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.menu .logo a:hover {
  text-decoration: none;
}

.menu .menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.menu li.logoimg {
  padding: 1px 1px;
}

.menu .logo a,
.menu .toggle a {
  font-size: 20px;
}

/* Mobile menu */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.item.button {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.item {
  width: 100%;
  text-align: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: none;
}

.item.active {
  display: block;
}

/* Tablet menu */
@media all and (min-width: 600px) {
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  li.logoimg {
    padding: 1px 1px;
  }
  .toggle {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
  }
  .item.button {
    width: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: block;
  }
  .toggle {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .button.secondary {
    border: 0;
  }
  .button a {
    padding: 7.5px 15px;
  }
  .button.secondary a {
    background: transparent;
  }
  .button a:hover {
    text-decoration: none;
  }
}

/* Desktop menu */
@media all and (min-width: 900px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .menu li {
    padding: 15px 10px;
  }
  li.logoimg {
    padding: 1px 1px;
  }
  .menu li.button {
    padding-right: 0;
  }
}

body {
  background-image: url("imagens/backimg3.jpg");
  /* The image used */
  height: 500px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  background-size: cover;
  background-position: top center;
}

.flex-container {
  margin-top: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 300px;
  font-size: 30px;
  border-radius: 10px;
}

p {
  margin-top: 30px;
  color: white;
}

footer {
  padding: 50px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-item {
  width: 50px;
  height: 50px;
  border-radius: 25%;
}

.verde {
  background-color: green;
}

.amarelo {
  background-color: yellow;
}

.vermelho {
  background-color: red;
}

.azul {
  background-color: blue;
}
/*# sourceMappingURL=main.css.map */