*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  background: linear-gradient(45deg,#353535c5,#427ea7cc);

}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  color: #775b69;
  font-weight: 300;
  line-height: 1.6;
}

/* .container {
  
  /* grid-template-rows: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; */
/* display: grid;
      grid-template-rows: fr  min-content fr;
      grid-template-columns: fr; */
/* } */

section{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}


/*----------------- footer -----------------*/
.footer {
  background-color: #101d2c;
  /* grid-column: full-start / full-end; */
  padding: 8rem;

}

.nav{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  align-items: center;
  list-style: none;

  
}
.nav__link{
      display: block;
      padding: 1.5rem;
      transition: all .2s;
      text-align: center;
      text-transform: uppercase;
      font-family: sans-serif;
      font-size: 1.4rem;
      color: #fff;
      text-decoration: none;
  }

  .nav__link:hover{
      transform: translateY(-3px);
      background-color: rgba(#fff, .05);
      
  }
.copyright{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1.4rem;
  color: #696969;
}

.marca-agua {
  opacity: 0.3;
  color: #111;
  position: fixed;
  bottom: 1%;
  right: 1%;
}
/*----------------- FIM footer -----------------*/


/*----------------- Cartaz-filme -----------------*/
.cards2{
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 50px;
  margin: 50px 0;
  z-index:50px;
}
.cards2 .box2{
  position: relative;
  width: 230px;
  height: 400px;
  margin: 0 auto;
  background: rgb(145, 163, 173);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
  margin-bottom: 5%;
}
.cards2 .box2 .face{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards2 .box2 .face img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  object-fit: contain; /* fill */
}
/* img-resize */
#img_ajusta{
  width: 230px;
  height: 400px;
}

/* Texto descricao */
.cards2 .box2 .face.face1{
  box-sizing: border-box;
  padding: 20px;
  justify-content: start;
  text-align: center;
}
/* titulo descricao */
.cards2 .box2 .face.face1 h2{
  margin: 0;
  padding: 0;
  font-size: 3em;
  
}
.cards2 .box2 .face.face2{
  background: #111;
  transition: 0.5s;
}
.cards2 .box2:hover .face.face2{
  height: 65px;
}
/* .cards2 .box2:nth-child(1) .face.face2{
  background: linear-gradient(45deg,#3503ad,#f7308c);
}
.cards2 .box2:nth-child(2) .face.face2{
  background: linear-gradient(45deg,#ccff00,#09afff);
}
.cards2 .box2:nth-child(3) .face.face2{
  background: linear-gradient(45deg,#e91e63,#ffeb3b);
}
.cards2 .box2:nth-child(4) .face.face2{
  background: linear-gradient(45deg,#000,#444);
} */
.cards2 .box2 .face.face2::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  /*50%*/
  height: 100%;
  background: rgba(255, 255, 255, .1);
}
.cards2 .box2 .face.face2 h2{
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.cards2 .box2:hover .face.face2 img{
  opacity: 0;
  transition: 0.2s;
}

.btn_filme{
  opacity: 0;
  background-color: transparent;
  border: none;
  color: grey;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  z-index: 100;
}
.btn_filme:hover{
  color: rgb(75, 128, 177);
}
.cards2 .box2:hover .face.face2 .btn_filme{
  opacity: 1;
  transition: 1.3s;
}

#anim{
  position: relative;
}
#anim::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: rgb(75, 128, 177);
  transition-delay: 0.2s;
  transition-duration: 200ms;
}
#anim::after{
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: rgb(75, 128, 177);
  transition-delay: 0.2s;

  transition-duration: 200ms;
}
#anim:hover::before,
#anim:hover::after{
  width: 100%;
}


/* --------------- Menu --------------- https://jsfiddle.net/os74zscd/3/ */
.page-content {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  margin: 0 auto;
  }


.titulo {
  padding: 4rem;
  font-size: 4rem;
  color: #fff;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index:0;
  position: relative;
}

.menu_botao:hover{
  color: #101d2c;
  transition: 1s;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(70, 70, 70);
  transition: 0.2s;
  cursor: pointer;
}

.sidebar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: -190px;
  width: 150px;
  padding: 30px;
  font-size: 0.5em;
  background: #333;
  color: white;
  z-index: 200; }
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .sidebar li {
    text-transform: uppercase;
    opacity: .5;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
    .sidebar li:hover {
      opacity: 1;
      color: #29D4E8; }

#sidebartoggler {
  display: none; }
  #sidebartoggler:checked + .page-wrapper .sidebar {
    left: 0px; }
  #sidebartoggler:checked + .page-wrapper {
    left: 200px; }
  #sidebartoggler:checked + .page-wrapper .page-content {
    padding-left: 200px; }
/* --------------- FIM Menu --------------- https://css-tricks.com/solved-with-css-dropdown-menus/ */

/* ---------- Barra de nav ------------ */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgb(61, 61, 61);
}
::-webkit-scrollbar-corner{
  background: rgb(61, 61, 61);
}
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(184, 184, 184); 
}
/* ---------- FIM Barra de nav ------------ */



/* 
Cenas:
-Menu ln 208-210, clica e ao hover abre mais um menu
-ficha15 botao2 para <a></a>
-ficha3a searchbar, colocar do lado direito do titulo (fim)

-menu :https://www.w3schools.com/howto/howto_js_sidenav.asp (2)| https://www.cssscript.com/sliding-push-navigation-menu-pure-css/ (1)

Pag individual de filme:
-Img à esquerda, discrição à direita e like botao animação

Pag login:

*/



/*----------------- Fim Cartaz-filme -----------------*/