$primary-color: #512c62;
$font-stack: "Roboto", Geneva, Verdana, sans-serif;

* {
  padding: 0;
  margin:0;
}

*, body {
  font-family: $font-stack;
}

.d-flex {
  @include flexbox;
}

.container-flex {
  @include flexbox;
  @include align-items(center);
}


.box-1 {
  @include flex(1);
}

.box-2 {
  @include flex(2);
  direction: ltr;
}

#logo {
  color: red;
}

.box-3 {
  @include flex(2);
  direction: rtl;

}

.box-4 {
  @include flex(1);
}

ul li a {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}


//.image .content {
//  position: absolute;
//  background: rgba(0, 0, 0, 0.7);
//  color: #f1f1f1;
//  width: 330px;
//  padding: 20px;
//  bottom: 60px;
//  right: 0;
//}
.container-2{
  @include flexbox;
}
.box-start , .box-end{
  @include flex(1);
}
.box-6 , .box-7{
  @include flex(2);
  padding: 5px;
}

.container-3{
  @include flexbox;
}

.box-9 , .box-14{
  @include flex(2);
}

.box-10 , .box-11 , .box-12 , .box-13{
  @include flex(2);
}

.box-11 , .box-12 , .box-13{
  align-content: flex-end;
  text-align: right;
}

.box-10{
  flex-direction: column;
  text-align: center;
}

.row {
  @include flex-direction(row);
}

.bottom-box{
  background:#CCCCCC;
}

.container-4 {
  @include flexbox;
  padding-top: 50px;
  height: 200px;
}
.box-17 , .box-18{
  flex: 2;
  background:#CCCCCC;
  padding: 10px;
}
.box-16 , .box-19{
  flex: 1;
  background:#CCCCCC;
}

#email {
  padding: 6px;
  width: 50%;
}

section{
  color: white;
  margin-top: 20px;
}

section > i {
  background: rgb(0, 183, 255);
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.container-5 {
  @include flexbox;
  margin-top: 20px;
}

.box-20, .box-23 {
  @include flex(1);
}

.box-21, .box-22 {
  @include flex(2);
}
.box-21 {
  padding: 15px;
  color: rgb(126, 126, 126);
}

.box-22 > i {
  align-content: right;
  background: rgb(0, 183, 255);
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 265px;
}

.slide {
  max-height: 400px;
  object-fit: cover;
}

.legend-slide {
  position: absolute;
  right: 317px;
  bottom: 100px;
  background-color: #0845b98f;
  padding: 20px;
}

.menu {
  @include justify-content(end);
}