$red: #FF1820;
$dark-red: #9C1A26;

$dark-grey: #222222;
$grey: #898989;

$width-container: 70vw;
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

h1,h2,h3,h4,h5,h6 {
  color: #fff;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
  font-weight: 300;
}

* {
  padding: 0;
  margin:0;
}

*, body {
  font-family: $font-stack;
}

.ai-normal {
  @include align-items(normal !important);
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
}

.row {
  width: $width-container;
}

.flex-item {
  background-color: tomato;
  padding: 5px;
  width: 20px;
  height: 20px;
  margin: 10px;
  line-height: 20px;
  color: white;
  text-align: center;
}

.d-flex {
  @include flexbox;
}

.slideshow {
  min-height: 600px;
  background-color: $dark-grey;
  position: relative;

  &-image {
    background-repeat: repeat-x;
    background-image: url("../img/slideshow-bg.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-position: center;
    background-size: 40%;
  }

  &-wrapper {
    position: relative;
    background-color: transparentize(darken($dark-grey, 40%), .5);
    border-radius: 10px;
    margin: 70px 0;
    @include flex-flow(column);
    @include align-items(center);
    @include justify-content(center);
    text-align: center;
    padding: 50px 0;
  }

  &-image1 {

    img {
      width: 300px;
      -webkit-filter: drop-shadow(0px 4px 0px $grey);
      filter: drop-shadow(0px 4px 0px $grey);
    }
  }

}

.highlights {
  background-color: $red;
  color: #fff;
  &-rows {
    @include justify-content(space-between);
    @include flex-wrap(wrap-reverse);
    @include flexbox;
    @include align-items(flex-end);
    @include align-content(center);
    height: auto;
  }
}

@include select('disk', '\f0a0');
@include select('system', '\f0a0');
@include highlight('database');
@include highlight('config');
@include highlight('support');