#button-1 {
  margin-top: 0;
  width: 85px;
  background-color: red;
  color: white;
  padding: 4px;
  border: none;
  border-radius: 1px;
  right: 10px;
  text-align: center;
}

.button-2 {
  width: 85px;
  background-color: rgb(0, 183, 255);
  color: white;
  padding: 4px;
  border: none;
  border-radius: 1px;
  text-align: center;
}

#button-3 {
  width: 85px;
  background-color: rgb(0, 183, 255);
  color: white;
  padding: 4px;
  border: none;
  border-radius: 1px;
  text-align: center;
  margin-left: 185px;
}