@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
html,body{
    padding:0;
    margin:0;
    background-image: url(./background.jpg);
    background-size: cover;
}
.navegador{
    width:100vw;
    height:10vh;
}
.menu{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    font-size:30px;
    color:whitesmoke;
    list-style-type: none;
}
.link{
    text-decoration:none;
    color:whitesmoke;
}
.grid-container {
    width:100vw;
    height:85vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "banner banner banner banner banner banner banner banner banner banner" "banner banner banner banner banner banner banner banner banner banner" "latest latest most_recent most_recent most_recent most_recent most_recent most_recent most_recent most_recent" "latest latest most_recent most_recent most_recent most_recent most_recent most_recent most_recent most_recent" "latest latest most_recent most_recent most_recent most_recent most_recent most_recent most_recent most_recent" "latest latest most_recent most_recent most_recent most_recent most_recent most_recent most_recent most_recent";
  }
  
.banner {
    width:100%;
    height:100%;
    grid-area: banner;
}
.banner-container{
    margin-left:5%;
    width:90%;
    height:80%;
    border:3px solid whitesmoke;
    border-radius:50px;
    background:transparent;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.latest {
    width:100%;
    height:100%;
    grid-area: latest;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    font-weight: bold;
    color:whitesmoke;
    border:3px solid whitesmoke;
    display:Flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:50px;
}
  
.most_recent {
    grid-area: most_recent;
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    margin-bottom:15px;
    color:whitesmoke;
    margin-left:50px;
    border-radius:50px;
    border:3px solid whitesmoke;
    padding:20px;
}
.socialMediaTitle{
    font-family: 'Poppins', sans-serif;
    font-size:32px;
    padding:5px;
    margin-bottom:15px;
    color:whitesmoke
}
.svg{
    width:50px;
    height:50px;
}
.list{
    list-style-type: none;
}