body{
    
    background-size: cover;
    margin: 0;

}
.imagem{
    background-image: url('musicas.jpg');
    height: 400px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #99ff66;
}
.musica a{

    margin: 0 45px;
    display: inline-block;
    padding: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
}

.active{
    background: -webkit-linear-gradient(#66ff66, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:hover{

    background: -webkit-linear-gradient(#66ff66, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

}
.link{
  font-weight: 100;
}
.musica{
    display: flex;
    justify-content: center;
    border-bottom: 1.5px solid #99ff66;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3b125d;
    background-image: linear-gradient(to right, #2457d7, #3b125d);
    background: #3b125d;
    background: linear-gradient(to right, #2457d7, #3b125d);
    font-weight: initial;
          
}
.titulo{
    display: flex;
    background: -webkit-linear-gradient(#66ff66, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 100px;
    margin-top: 30px;
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}

.negrito{
  font-weight: bold;
}
.deconstructed {
  position: absolute;
  margin: auto;

  color: transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s infinite;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 5s infinite;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 5s infinite;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s infinite;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-300%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-250%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-250%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-250%);
  }
}


@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
footer{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    background: #3b125d;
    background: linear-gradient(to right, #2457d7, #3b125d);
    border-top: 3px solid #99ff66;


}
.rodape{
    position: absolute;
    background: -webkit-linear-gradient(#66ff66, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 42%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    font-weight: 100;
}
.corpo{
    position: relative;
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
    font-family: 'Josefin Sans', sans-serif;

}
.titulocorpo{

    margin: 0;
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 80px;
    background: -webkit-linear-gradient(#2457d7, #3b125d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

    text-shadow: 2px 2px 8px #3b125d;

  margin: 0;
  margin-top: 50px;
  margin-bottom: 70px;
  font-size: 70px;
  letter-spacing: 5px;
  background: -webkit-linear-gradient(#2457d7, #3b125d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 2px 8px #3b125d;

}

.corpo .box{
    position: relative;
    width: 380px;
    height: 500px;
    margin: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    overflow: hidden;



}
.corpo .box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(#2457d7, #3b125d);
    clip-path: circle(500px at center 200px);
    transition: 0.5s;
    transition-delay: 0.5s;
}
.corpo .box:hover .imgBx{
    clip-path: circle(80px at center 100px);
    transition-delay: 0s;
}
.corpo .box .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.corpo .box .content h2{
    margin: 0;
    padding: 0;
}
.corpo .box .content a{
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 5px;
    display: inline-block;
}
.corpo .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.corpo .box .content h2,
.corpo .box .content p,
.corpo .box .content a{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20px);
}
.corpo .box .content h2{
    opacity: 0;
    transform: translateY(0);
    transition-delay: 0.5s;
}
.corpo .box .content p{
    opacity: 0;
    transform: translateY(0);
    transition-delay: 0.7s;
}
.corpo .box:hover .content a{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.9s;
}
.corpo .box:hover .content h2{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
}
.corpo .box:hover .content p{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.7s;
}
.rodape2{
    margin-top: 60px;
    padding: 0 10px;
    background: -webkit-linear-gradient(#66ff66, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.social-media a{
    padding: 0 10px;
    color: white;
    text-align: center;
    align-items: center;
    

}

hr {
  width: 600px;
  height: 3px;
  margin-top: 10px;
  border: 0;
  box-shadow: 2px 2px 8px #3b125d;
  background: -webkit-linear-gradient(#2457d7, #3b125d);
  border-radius: 2px;
}


@media screen and (max-width: 1600px) {
    .musica a{
      padding-top: 100px;
      margin: -10px;
      font-size: 15px;
}
.titulo{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: center;
}
}
@media screen and (max-width: 1000px) {
  .musica a{
    padding-top: 100px;
    margin: -10px;
    font-size: 10px;
}
.titulo{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: center;
}

}

@media screen and (max-width: 1600px) {
  .musica {
    height: 150px;
}
}